@model Mini_Social_Networking_Web_App.Core.ViewModels.GigsViewModel

@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div class="input-group" id="searchGig">
            @Html.TextBoxFor(s => s.SearchTerm, new { @class = "form-control" , placeholder = "Search by artist, genre, or venue" })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>

}
<ul id="gigs" class="gigs flex-container" style="margin-top: 40px;">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li class="flex-item-container">
            <div class="date flex-item">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details flex-item">
                <span class="artist">
                    @using (Html.BeginForm("Details", "Gigs", new {gigId = gig.Id } , FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-link" value="@gig.Artist.Name" />
                    }


                    @if (Model.ShowActions)
                    {
                        if (@gig.IsCanceled)
                        {
                            <span class="label label-warning pull-right">Canceled</span>
                        }
                        else
                        {
                            <button data-artist-id="@gig.ArtistId" class="btn btn-link btn-xs js-toggle-following pull-right">@(Model.Followings.Contains(gig.ArtistId) ? "Following" : "Follow")</button>
                        }

                    }

                </span>
                <span class="genre">
                    @gig.Genre.Name
                    @if (Model.ShowActions && !gig.IsCanceled)
                    {
                        string className;
                        string text;
                        if (Model.Attendances.Contains(gig.Id))
                        {
                            className = "btn-info";
                            text = "Going";
                        }
                        else
                        {
                            className = "btn-default";
                            text = "Going ?";
                        }
                        <button data-gig-id="@gig.Id" class="btn @className btn-sm js-toggle-attendance pull-right">@text</button>
                    }
                </span>

            </div>
        </li>
    }
</ul>


@section scripts{
    <script>
        $(document).ready(function () {
            GigsController.init("#gigs");
            followController.init("#gigs");
        });
    </script>
}