@model Mini_Social_Networking_Web_App.ViewModels.GigsViewModel

@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>
<ul class="gigs flex-container" style="margin-top: 40px;">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li class="flex-item-container">
            <div class="date flex-item">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details flex-item">
                <span class="artist">
                    @gig.Artist.Name 
                    @if (Model.ShowActions)
                    {
                        <button data-artist-id="@gig.ArtistId" class="btn btn-link btn-sm js-toggle-following pull-right">Follow</button>
                    }

                </span>
                <span class="genre">
                    @gig.Genre.Name
                    @if (Model.ShowActions)
                    {
                        <button data-gig-id="@gig.Id" class="btn btn-sm btn-default js-toggle-attendance pull-right">Going ?</button>
                    }

                </span>

            </div>
        </li>
    }
</ul>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click( function(e) {
                var button = $(e.target);
                $.post("/api/attendances", { GigId: button.attr("data-gig-id") })
                .done(function () {
                    button
                        .removeClass("btn-default")
                        .addClass("btn-info")
                        .text("Going");
                })
                .fail(function () {
                    alert("Something failed!!");
                });
            });

            $(".js-toggle-following").click(function (e) {
                var button = $(e.target);
                $.post("/api/following", { ArtistId: button.attr("data-artist-id") })
                .done(function () {
                    button
                        .text("Following");
                })
                .fail(function () {
                    alert("Something failed!!");
                });
            });

        });
    </script>
}